body {
    background: #f9f7fe;
    font-family: "Roboto", sans-serif;
}

.container {
    background: white;
    max-width: 600px;
    margin:40px  auto;
    padding: 30px;
    border-radius: 16px;
    box-shadow:0 30px 50px rgba(65, 50, 100, 0.08); ;
}